html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  nav{
      display: none;
  }
  
  /* Navbar container */
  .navbar {
      background-color: rgb(255, 237, 155);
      padding:15px 20px 15px 5px;
      position: fixed;
      top:0px;
      width: 100%;
      font-family: Helvetica, sans-serif;
  }
  
  /* Links inside the navbar */
  .navbar a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

      /* The dropdown container */
  .dropdown {
      align-self: center;
      overflow: hidden;
      padding: 0;
      margin: 0;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding-left: 20px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin:0;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      z-index: 1;
      margin-left: -15px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
}

.show {display:block;}

@media screen and (min-width: 651px) {
  nav{
      display: inline;
  }
  
  .navbar{
      display: none;
  }
}

nav{
  background-color: rgb(255, 237, 155);
  padding:15px 20px 15px 5px;
  position: fixed;
  top:0px;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  padding: 0px 0px 0px 20px;
  margin: 0px;
}

nav li {
  display: inline;
  padding-right: 40px;
  font-family: Helvetica;
  float: right;
  box-sizing: border-box;
}

#FirstNav{
  float:left;
}

a{
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover {
  opacity: 0.5;
  text-decoration: underline;
} 

header {
  background-color: rgb(248, 247, 247);
  background-position: center;
  padding: 0px 0px 0px 0px;
  text-align: left;
  margin:19px 0px 0px 0px;
  width: 100%;
  opacity: 100;
  display: flex;
  box-sizing: border-box;
}

header p{
  font-family: kazimir, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 15% 0px 20px 20px;
  margin: 0px;
  width: 50%;
  box-sizing: border-box;
}

header img{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  header{
      display: inline;
  }

  header p{
      width: 80%;
      box-sizing: border-box;
      margin-left: 10%;
      padding-top: 20px;
      text-align: center;
  }

  header img{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      box-sizing: border-box;
  }
}

.About{
  margin: 0 50px 0 0;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.About .text{
  width:50%;
  margin: 50px 100px 0 0px;
  box-sizing: border-box;
}

.About a{
  color: rgb(253, 224, 94);
}

.About h1{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  padding: 0px;
  margin: 60px 0px 40px 0px;
}

.About img{
  padding: 20px 0px 0px 0px;
  margin: 0px 50px 0px 0px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.About p{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  line-height: 2;
}

@media screen and (max-width: 880px){
  .About{
      box-sizing: border-box;
      display: inline;
  }

  .About h1{
      margin-bottom: 20px;
  }
  
  .About .text{
      width:100%;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      float: none;
      box-sizing: border-box;
  }
  
  .About img{
      margin: 20px 80px 0px 0px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      float: none;
  }
}

.Projects{
  padding:0px 0px 0px 0px;
  margin:0px 0px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.Projects h1{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 0px;
  margin: 50px 0px 20px 0px;
  text-align: center;
}

.Projects .videos{
  margin:0;
  padding: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 80%
}
.Projects .one{
  width:50%;
  background-color: rgb(169, 223, 245);
  margin: 0 2.5% 0 5%;
  box-sizing: border-box;
  text-align: center;
}

.Projects .two{
  width:50%;
  background-color: rgb(182, 238, 240);
  margin: 0 5% 0 2.5%;
  box-sizing: border-box;
  text-align: center;
}

.Projects h2{
  text-align: center;
}

.Projects p{
  text-align: left;
  margin:5% 5% 0 5%;
  line-height:1.75;
}

iframe{
  width:90%;
  height: 300px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 725px) {

  .Projects .one{
      width:100%;
      background-color: rgb(169, 223, 245);
      padding: 0 5% 0 5%;
      margin: 0;
      box-sizing: border-box;
      text-align: center;
  }
  
  .Projects .two{
      width:100%;
      background-color: rgb(182, 238, 240);
      padding: 0 5% 0 5%;
      margin: 0;
      box-sizing: border-box;
      text-align: center;
  }

  .Projects h2{
      padding-top: 10px;
  }

  .Projects .videos{
      display: inline;
  }
}

footer{
  background-color: rgb(255, 237, 155);
  padding:15px 20px 15px 25px;
}

footer ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer li{
  display: inline;
  padding: 0 40px 10px 0;
  font-family: Helvetica;
}

@media screen and (max-width: 830px){
  footer ul{
      width: 475px;
  }
}

@media screen and (max-width: 470px){
  footer li{
      display: block;
  }
}

.Buffer{
  height: 30px;
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}